#container {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
}

#topSection {
    background-color: gold;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 85%;
    overflow: auto; /* Add overflow property for scrolling */
}

#bottomSection {
    background-color: black;
    position: absolute;
    top: 15%;
    right: 0;
    left: 0;
    bottom: 0;
}
